extends layout.pug

block content
  main(role="main")
    section(class="grid")
      div(class="grid12 padding05")
        h2 Please sign in below
        if message
          p #{message}: Please check your input

        form(action="/users/login", method="post")
          label Username
          input(type="text", name="userName" required)
          label Password
          input(type="password", name="password" required)
          button(type="submit") Sign in
          input(type='checkbox' class='remember' name='remember')
          label(class='remember')
            | Remember 24 Hours
