extends layout.pug

block content
  main(role="main")
    section(class="grid")
      div(class="grid12 padding05")
        h2 Create something new
        form(action="/posts/new", method="post")
          label Title
          input(type="text", name="title")
          label Body
          textarea(type="text", name="body")
          label Image
          input(type="text", name="banner")
          label Tags
          input(type="text", name="tags")
          label Category
          input(type="text", name="category")
          button(type="submit") Post

