extends layout.pug

block content
  main(role="main")
    section(class="grid")
      div(class="grid12 padding05")
        h2 Create something new
        form(action="/posts/new", enctype="multipart/form-data" method="post")
          label Title
          input(type="text", name="title" required)
          label Body
          textarea(type="text", name="body" required)
          label Image
          input(type="file", accept=".jpg", name="banner" required)
          //- label Tags
          //- input(type="text", name="tags")
          label Category
          select(type="text", name="category" required)
            option(value="Technology") Technology
            option(value="Design") Design
            option(value="Entrepreneur") Entrepreneur
            option(value="Anything") Anything
          button(type="submit") Post

