extends layout.pug

block content
  main(role="main")
    section(class="grid")
      div(class="grid12 padding05")
        h2 Join us!
        if message
          p #{message}: Please check your input
        form(action="/users/new", enctype="multipart/form-data", method="post")
          label First Name
          input(type="text", name="firstName" required)
          label Last Name
          input(type="text", name="lastName" required)
          label E-mail
          input(type="text", name="email" required)
          label User Name
          input(type="text", name="userName" required)
          label Bio
          textarea(type="text", name="bio" required)
          label Avatar (JPEG only)
          input(type="file", accept=".jpg", name="avatar" required)
          label Password (Minimum 8 Characters)
          input(type="password", name="password" minlength="8" id="password" required)
          label Confirm Password
          input(type="password" oninput="check(this)" required)
          button(type="submit") Sign up

          script(language='javascript' type='text/javascript').
            function check(input) {
              if (input.value != document.getElementById('password').value) {
                console.log('2')
                input.setCustomValidity('Please make sure your passwords match.');
                input.reportValidity();
              } else {
                console.log('3')
                input.setCustomValidity('');
              }
            }


